# Konfigurasi Firebase untuk Vercel Environment Variables
FIREBASE_API_KEY=AIzaSyBZmAP4Udr15GSU_HVLnkkpw2sgLrwoefQ
FIREBASE_AUTH_DOMAIN=sijaga-uks.firebaseapp.com
FIREBASE_PROJECT_ID=sijaga-uks
FIREBASE_STORAGE_BUCKET=sijaga-uks.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=1011150387166
FIREBASE_APP_ID=1:1011150387166:web:b36c1a27d858fc279fcf4f
